.d1{
	background-color:red
}
.d2{
	background-color:yellow
}
.d3{
	background-color:pink
}
.d4{
	background-color:lightgreen
}
.dd{
	background-color:black;
	height:500px;
	width:1000px;
	display:flex;
	flex-direction:row-reverse;
	justify-content:center;
}