#dv1{
	background-color:transparent;
	border-style:solid;
	border-width:7px;
	border-color:black;
	color:black;
    padding:50px 50px 50px 50px;
	margin:80px 180px 80px 200px;
	text-decoration:none;
	font-weight:bold
}
.fd{
	color:black;
	font-size:42px
}
#dv2{
	background-color:transparent;
	border-style:solid;
	border-width:7px;
	border-color:black;
	color:black;
    padding:50px 70px 50px 70px;
	margin:80px 200px 80px 180px;
	text-decoration:none;
	font-weight:bold
}
#dv3{
	background-color:transparent;
	border-style:solid;
	border-width:7px;
	border-color:black;
	color:black;
    padding:50px 70px 50px 70px;
	margin:80px 180px 80px 200px;
	text-decoration:none;
	font-weight:bold
}
#dv4{
	background-color:transparent;
	border-style:solid;
	border-width:7px;
	border-color:black;
	color:black;
    padding:50px 50px 50px 50px;
	margin:80px 200px 80px 180px;
	text-decoration:none;
	font-weight:bold
}
#dv5{
	background-color:transparent;
	border-style:solid;
	border-width:7px;
	border-color:black;
	color:black;
    padding:20px 20px 20px 20px;
	margin:80px 600px 80px 600px;
	text-decoration:none;
	font-weight:bold
}
}