.main{ 

	padding-left:10px;
margin-left:10px;


}

.ayur{
	width:20;'
height:10;
left:10;
 font-family: Arial, Helvetica, sans-serif;
}

@keyframes flexible {
	
	75% {
		transform: scale(1.1);
	}
	100% {
		transform: scaleX(1);
	}
}
/* favourites text */
.ayurvedic {
	animation-name: flexible;
	animation-timing-function: linear ;
	animation-duration: 2s;
	perspective: 10000px;
	transform-style: preserve-3d;
animation-iteration-count: infinite;
}
.ayurvedic h1{ text-align:center;
color:blue;
margin:10px;
padding:20px;
text-shadow:2px 2px yellow;
text-decoration:underline;
letter-spacing:8px;


}
img{
	opacity:1;
	}
.chawan h2{color:tomato;}
.coro h2{color:tomato;}
.himl h2{color:tomato;}
.ayur h2{color:tomato;}

button:hover{color:blue;}