body {
    margin: 0px;
}

header {
    background-image: url(menu.jfif);
    height: 1000px;
    background-size: cover;
    padding: 5px 0px 0px 0px;
}

.horizontal-list {
    list-style: none;
    padding: 0px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
    text-color: black;
}

.horizontal-list li a {
    color: rgb(14, 54, 231);
    text-decoration: none;
    padding-left: 140px;
    font-size: 25px;
}

.horizontal-list li a:hover {
    color: gray;
    text-decoration: underline;
    text-shadow: 2px 2px white;
}